<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Point Management
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="registration">
                            <h3>Registration</h3>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" min="1" id="registration" class="form-control form-control-lg" placeholder="Registration Points" value="10" [disabled]="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="birth-day">
                            <h3>Birth Day</h3>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" min="1" id="birth-day" class="form-control form-control-lg" placeholder="Birth Day Points" value="10" [disabled]="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="hidden-xs-down col-sm-4"></div>
                    <div class="form-group col-sm-4">
                        <button type="button" class="btn btn-success btn-lg btn-block btn-outline-danger" (click)="goToMain()">Cancel</button>
                    </div>
                    <div class="form-group col-sm-4">
                        <button type="button" class="btn btn-success btn-lg btn-block btn-outline-primary" (click)="goToMain()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>