<div class="animated fadeIn">

    <div class="row" *ngIf="user">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ user.us_name || 'User Name' }}</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                       type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Enter user name"
                                       [(ngModel)]="user.us_name"
                                       [disabled]="!editable"
                                       required
                                       minlength="2"
                                       #name="ngModel"
                                       [ngClass]="{'is-invalid': name.invalid && (name.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid user name.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        placeholder="Enter user email"
                                        [(ngModel)]="user.us_email"
                                        [disabled]="!editable"
                                        #email="ngModel"
                                        [ngClass]="{'is-invalid': email.invalid && (email.touched)}"
                                        [email]="true"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid user email.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="type">Type</label>
                            <select class="form-control" id="type" [(ngModel)]="user.type" [disabled]="!editable">
                                <option *ngFor="let type of userTypes" value="{{type.type}}">{{type.type}}</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="type">Status</label>
                            <select class="form-control" id="status" [(ngModel)]="user.status" [disabled]="!editable">
                                <option *ngFor="let status of userStatuses" value="{{status.status}}">{{status.status}}</option>
                            </select>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="type">Redemption</label>
                                <input type="checkbox" class="form-control" id="redemption" [(ngModel)]="user.is_on" [disabled]="!editable">
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="day">Day</label>
                            <select class="form-control" id="day" [(ngModel)]="user.birthDay" [disabled]="!editable">
                                <option *ngFor="let day of days">{{day}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="month">Month</label>
                            <select class="form-control" id="month" (change)="daysGenerate(user.birthMonth, user.birthYear)" [(ngModel)]="user.birthMonth" [disabled]="!editable">
                                <option *ngFor="let month of months">{{month}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="year">Year</label>
                            <select class="form-control" id="year" (change)="daysGenerate(user.birthMonth, user.birthYear)" [(ngModel)]="user.birthYear" [disabled]="!editable">
                                <option *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                    </div><!--/.row-->
                </div>
                <div class="card-footer" *ngIf="editable">
                    <div class="row">
                        <div class="hidden-xs-down col-sm-4"></div>
                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-outline-danger" (click)="cancel()">Cancel</button>
                        </div>
                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-outline-primary" (click)="submit(user)" [disabled]="name.invalid || email.invalid">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
