<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4" *ngIf="!emailSended">
                        <h1>Forgot password?</h1>
                        <p class="text-muted">Enter your email</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input
                                    type="email"
                                    #email="ngModel"
                                    class="form-control"
                                    placeholder="Email"
                                    [(ngModel)]="user.email"
                                    required
                                    minlength="2"
                                    [ngClass]="{'is-invalid': email.invalid && (email.touched)}"
                                    [email]="true"
                            >
                        </div>

                        <button type="button" class="btn btn-block btn-success" [disabled]="email.invalid" (click)="restorePassword(email)">Restore</button>
                    </div>
                    <div class="card-body p-4" *ngIf="emailSended">
                        <h1>Success</h1>
                        <p class="text-muted">Check your email and</p>
                        <button type="button" class="btn btn-link px-0" (click)="goTo('login')">log in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
