<div class="app flex-row align-items-center">
  <div *ngIf="error" class="alert alert-danger" role="alert" style="position: absolute; top: 20px; right: 20px; margin-left: 20px;">
    <strong>Error!</strong> Invalid email or password.
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text"
                       #name="ngModel"
                       class="form-control"
                       placeholder="Username"
                       [(ngModel)]="user.email"
                       required
                       minlength="2"
                       [ngClass]="{'is-invalid': name.invalid && (name.touched)}"
                       [email]="true"
                >
                <div class="invalid-feedback">
                  Please provide a valid user email.
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password"
                       #password="ngModel"
                       class="form-control"
                       placeholder="Password"
                       [(ngModel)]="user.password"
                       required
                       minlength="2"
                       [ngClass]="{'is-invalid': password.invalid && (password.touched)}"
                >
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button type="button" class="btn btn-primary px-4" (click)="login(user)" [disabled]="(name.invalid || password.invalid) || error">Login</button>
                </div>
                <!--Forgot Password Button-->
                <!--<div class="col-6 text-right">-->
                  <!--<button type="button" class="btn btn-link px-0" (click)="goTo('forgotPassword')">Forgot password?</button>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <!--Registration Button-->
          <!--<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">-->
            <!--<div class="card-body text-center">-->
              <!--<div>-->
                <!--<h2>Sign up</h2>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                <!--<button type="button" class="btn btn-primary active mt-3" (click)="goTo('register')">Register Now!</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
