<div class="animated fadeIn">

    <div class="row" *ngIf="business">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ business.name || 'Business Name' }}</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                       type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Enter business name"
                                       [(ngModel)]="business.name"
                                       [disabled]="!editable"
                                       required
                                       minlength="2"
                                       #name="ngModel"
                                       [ngClass]="{'is-invalid': name.invalid && (name.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid business name.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div id="map" style="height: 400px;"></div>
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-6">-->
                            <!--<label for="lat">Latitude</label>-->
                            <!--<input-->
                                    <!--type="text"-->
                                    <!--class="form-control"-->
                                    <!--id="lat"-->
                                    <!--placeholder="Enter business latitude"-->
                                    <!--[(ngModel)]="business.lat"-->
                                    <!--[disabled]="!editable"-->
                                    <!--required-->
                            <!--&gt;-->
                            <!--&lt;!&ndash;<select class="form-control" id="lat" [(ngModel)]="business.lat" [disabled]="!editable">&ndash;&gt;-->
                                <!--&lt;!&ndash;<option *ngFor="let day of days">{{day}}</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="form-group col-sm-6">-->
                            <!--<label for="lon">Longitude</label>-->
                            <!--<input-->
                                    <!--type="text"-->
                                    <!--class="form-control"-->
                                    <!--id="lon"-->
                                    <!--placeholder="Enter business longitude"-->
                                    <!--[(ngModel)]="business.lon"-->
                                    <!--[disabled]="!editable"-->
                                    <!--required-->
                            <!--&gt;-->
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="membuzz_member">Membuzz Member</label>
                            <input
                                    style="display: inline-block; width: auto; margin-left: 15px;"
                                    type="checkbox"
                                    class="form-control"
                                    id="membuzz_member"
                                    [(ngModel)]="business.membuzz_member"
                                    [disabled]="!editable"
                            >

                        </div>
                        <div class="form-group col-sm-6">
                            <label for="has_live_deals">Has live deals</label>
                            <input
                                    style="display: inline-block; width: auto; margin-left: 15px;"
                                    type="checkbox"
                                    class="form-control"
                                    id="has_live_deals"
                                    [(ngModel)]="business.has_live_deals"
                                    [disabled]="!editable"
                            >
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-link px-0" type="button" (click)="collapsed.users = !collapsed.users">
                                Users ({{ users.length }}) &nbsp; <span *ngIf="!collapsed.users" class="icon-arrow-up"></span><span *ngIf="collapsed.users" class="icon-arrow-down"></span>
                            </button>
                            <div class="px-3" [collapse]="collapsed.users" style="max-height: 150px; overflow: auto; overflow-x: auto;">
                                <div *ngFor="let user of users">
                                    <p>
                                        {{ user.us_name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-link px-0" type="button" (click)="collapsed.deals = !collapsed.deals">
                                Deals ({{ tmp_deals.length }}) &nbsp; <span *ngIf="!collapsed.deals" class="icon-arrow-up"></span><span *ngIf="collapsed.deals" class="icon-arrow-down"></span>
                            </button>
                            <div class="px-3" [collapse]="collapsed.deals" style="max-height: 150px; overflow: auto; overflow-x: auto;">
                                <div *ngFor="let deal of tmp_deals">
                                    <p>
                                        {{ deal.name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-link px-0" type="button" (click)="collapsed.coupons = !collapsed.coupons">
                                Coupons ({{ business.coupons.length }}) &nbsp; <span *ngIf="!collapsed.coupons" class="icon-arrow-up"></span><span *ngIf="collapsed.coupons" class="icon-arrow-down"></span>
                            </button>
                            <div class="px-3" [collapse]="collapsed.coupons" style="max-height: 150px; overflow: auto; overflow-x: auto;">
                                <div *ngFor="let coupon of business.coupons">
                                    <p>
                                        {{ coupon.buisness_name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="age_from">Age restrictions</label>
                                <select class="form-control" id="age_from" [(ngModel)]="business.age_from" [disabled]="!editable">
                                    <option
                                            value="0"
                                    >0+</option>
                                    <option
                                            value="6"
                                    >6+</option>
                                    <option
                                            value="16"
                                    >16+</option>
                                    <option
                                            value="18"
                                    >18+</option>
                                    <option
                                            value="21"
                                    >21+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender" [(ngModel)]="business.gender" [disabled]="!editable">
                                    <option
                                            value="1"
                                    >gender type 1</option>
                                    <option
                                            value="2"
                                    >gender type 2</option>
                                    <option
                                            value="3"
                                    >gender type 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="vicinity">Vicinity</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="vicinity"
                                        placeholder="Enter user vicinity"
                                        [(ngModel)]="business.vicinity"
                                        [disabled]="!editable"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid business vicinity.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="rating"
                                        placeholder="Enter rating value"
                                        [(ngModel)]="business.rating"
                                        [disabled]="!editable"
                                >
                            </div>
                        </div>
                    </div><!--/.row-->

                    <div class="row">
                            <div class="col-sm-12">
                                <label>Last Deal</label>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="last_deal_day">Day</label>
                                <select class="form-control" id="last_deal_day" [(ngModel)]="tmp_last_deal_date.day" [disabled]="!editable">
                                    <option *ngFor="let day of days.lastDeal">{{day}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="last_deal_month">Month</label>
                                <select class="form-control" id="last_deal_month" (change)="daysGenerate(tmp_last_deal_date.month, tmp_last_deal_date.year, 'lastDeal')" [(ngModel)]="tmp_last_deal_date.month" [disabled]="!editable">
                                    <option *ngFor="let month of months">{{month}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="last_deal_year">Year</label>
                                <select class="form-control" id="last_deal_year" (change)="daysGenerate(tmp_last_deal_date.month, tmp_last_deal_date.year, 'lastDeal')" [(ngModel)]="tmp_last_deal_date.year" [disabled]="!editable">
                                    <option *ngFor="let year of years">{{year}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="last_deal_time">Time</label>
                                <input class="form-control" id="last_deal_time" [(ngModel)]="tmp_last_deal_date.time" [disabled]="!editable" />
                            </div>
                    </div><!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <label>Last Deal Expiry Date</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_deal_expiry_day">Day</label>
                            <select class="form-control" id="last_deal_expiry_day" [(ngModel)]="tmp_last_deal_expiry_date.day" [disabled]="!editable">
                                <option *ngFor="let day of days.lastDealExpiry">{{day}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_deal_expiry_month">Month</label>
                            <select class="form-control" id="last_deal_expiry_month" (change)="daysGenerate(tmp_last_deal_expiry_date.month, tmp_last_deal_expiry_date.year, 'lastDealExpiry')" [(ngModel)]="tmp_last_deal_expiry_date.month" [disabled]="!editable">
                                <option *ngFor="let month of months">{{month}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_deal_expiry_year">Year</label>
                            <select class="form-control" id="last_deal_expiry_year" (change)="daysGenerate(tmp_last_deal_expiry_date.month, tmp_last_deal_expiry_date.year, 'lastDealExpiry')" [(ngModel)]="tmp_last_deal_expiry_date.year" [disabled]="!editable">
                                <option *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_deal_expiry_time">Time</label>
                            <input class="form-control" id="last_deal_expiry_time" [(ngModel)]="tmp_last_deal_expiry_date.time" [disabled]="!editable" />
                        </div>
                    </div><!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <label>Last Date of Deal Request</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_date_deal_request_day">Day</label>
                            <select class="form-control" id="last_date_deal_request_day" [(ngModel)]="tmp_last_date_deal_request.day" [disabled]="!editable">
                                <option *ngFor="let day of days.lastDealRequest">{{day}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_date_deal_request_month">Month</label>
                            <select class="form-control" id="last_date_deal_request_month" (change)="daysGenerate(tmp_last_date_deal_request.month, tmp_last_date_deal_request.year, 'lastDealRequest')" [(ngModel)]="tmp_last_date_deal_request.month" [disabled]="!editable">
                                <option *ngFor="let month of months">{{month}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_date_deal_request_year">Year</label>
                            <select class="form-control" id="last_date_deal_request_year" (change)="daysGenerate(tmp_last_date_deal_request.month, tmp_last_date_deal_request.year, 'lastDealRequest')" [(ngModel)]="tmp_last_date_deal_request.year" [disabled]="!editable">
                                <option *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="last_date_deal_request_time">Time</label>
                            <input class="form-control" id="last_date_deal_request_time" [(ngModel)]="tmp_last_date_deal_request.time" [disabled]="!editable" />
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-link px-0" type="button">Redeeming Deals</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="editable">
                    <div class="row">
                        <div class="hidden-xs-down col-sm-4"></div>
                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-outline-danger" (click)="cancel()">Cancel</button>
                        </div>
                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-outline-primary" (click)="editBusiness()" [disabled]="name.invalid">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
