<div class="animated fadeIn">

    <div class="row" *ngIf="deal">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ deal.name || 'Deal Name' }}</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                       type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Enter deal name"
                                       [(ngModel)]="deal.name"
                                       [disabled]="!editable"
                                       required
                                       minlength="2"
                                       #name="ngModel"
                                       [ngClass]="{'is-invalid': name.invalid && (name.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid deal name.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="full_price">Full Price</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        id="full_price"
                                        placeholder="Full deal price"
                                        [(ngModel)]="deal.full_price"
                                        [disabled]="!editable"
                                        #fullPrice="ngModel"
                                        min="0"
                                        [ngClass]="{'is-invalid': fullPrice.invalid && (fullPrice.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid deal full price.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="deal_price">Deal Price</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        id="deal_price"
                                        placeholder="Deal price"
                                        [(ngModel)]="deal.deal_price"
                                        [disabled]="!editable"
                                        #dealPrice="ngModel"
                                        min="0"
                                        [ngClass]="{'is-invalid': dealPrice.invalid && (dealPrice.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid deal price.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="discount">Discount</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        id="discount"
                                        placeholder="Deal price"
                                        [(ngModel)]="deal.discount"
                                        [disabled]="!editable"
                                        #discount="ngModel"
                                        min="0"
                                        max="1"
                                        [ngClass]="{'is-invalid': discount.invalid && (discount.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid discount value.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="deal_redemption">Deal Redemption</label>
                                <select class="form-control" id="deal_redemption" [(ngModel)]="deal.deal_redemption" [disabled]="!editable">
                                    <option value="1">Once a day per user</option>
                                    <option value="2">One time only per user</option>
                                </select>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="deal_content">Deal Content</label>
                                <textarea
                                        type="text"
                                        class="form-control"
                                        id="deal_content"
                                        placeholder="Enter deal content"
                                        [(ngModel)]="deal.deal_content"
                                        [disabled]="!editable"
                                        required
                                        minlength="2"
                                        #dealContent="ngModel"
                                        [ngClass]="{'is-invalid': dealContent.invalid && (dealContent.touched)}"
                                ></textarea>
                                <div class="invalid-feedback">
                                    Please provide a valid deal content.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="deal_text">Deal Text</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="deal_text"
                                        placeholder="Enter deal text"
                                        [(ngModel)]="deal.deal_text"
                                        [disabled]="!editable"
                                        required
                                        minlength="2"
                                        #dealText="ngModel"
                                        [ngClass]="{'is-invalid': dealText.invalid && (dealText.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid deal text.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="deal_items">Deal Items</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        id="deal_items"
                                        placeholder="Enter deal items value"
                                        [(ngModel)]="deal.deal_items"
                                        [disabled]="!editable"
                                        required
                                        min="0"
                                        #dealItems="ngModel"
                                        [ngClass]="{'is-invalid': dealItems.invalid && (dealItems.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid deal items value.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="deal_purchase">Deal Purchase</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        id="deal_purchase"
                                        placeholder="Enter deal items value"
                                        [(ngModel)]="deal.deal_purchase"
                                        [disabled]="!editable"
                                        required
                                        min="0"
                                        #dealPurchase="ngModel"
                                        [ngClass]="{'is-invalid': dealPurchase.invalid && (dealPurchase.touched)}"
                                >
                                <div class="invalid-feedback">
                                    Please provide a valid deal items value.
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Deal Start Date</h5>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="s_day">Day</label>
                            <select class="form-control" id="s_day" [(ngModel)]="deal.deal_start_date.d" [disabled]="!editable">
                                <option *ngFor="let day of days.startDate">{{day}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="s_month">Month</label>
                            <select class="form-control" id="s_month" (change)="daysGenerate(deal.deal_start_date.m, deal.deal_start_date.y, 'startDate')" [(ngModel)]="deal.deal_start_date.m" [disabled]="!editable">
                                <option *ngFor="let month of months">{{month}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="s_year">Year</label>
                            <select class="form-control" id="s_year" (change)="daysGenerate(deal.deal_start_date.m, deal.deal_start_date.y, 'startDate')" [(ngModel)]="deal.deal_start_date.y" [disabled]="!editable">
                                <option *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Deal End Date</h5>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="e_day">Day</label>
                            <select class="form-control" id="e_day" [(ngModel)]="deal.deal_end_date.d" [disabled]="!editable">
                                <option *ngFor="let day of days.endDate">{{day}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="e_month">Month</label>
                            <select class="form-control" id="e_month" (change)="daysGenerate(deal.deal_end_date.m, deal.deal_end_date.y, 'startDate')" [(ngModel)]="deal.deal_end_date.m" [disabled]="!editable">
                                <option *ngFor="let month of months">{{month}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="e_year">Year</label>
                            <select class="form-control" id="e_year" (change)="daysGenerate(deal.deal_end_date.m, deal.deal_end_date.y, 'startDate')" [(ngModel)]="deal.deal_end_date.y" [disabled]="!editable">
                                <option *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                    </div><!--/.row-->
                </div>
                <div class="card-footer" *ngIf="editable">
                    <div class="row">
                        <div class="hidden-xs-down col-sm-4"></div>
                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-outline-danger" (click)="cancel()">Cancel</button>
                        </div>
                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-outline-primary" (click)="submit()" [disabled]="name.invalid || fullPrice.invalid || dealPrice.invalid || discount.invalid || dealContent.invalid || dealText.invalid || dealItems.invalid || dealPurchase.invalid">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
