<div class="flex-row">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Contact Us</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-md-12 col-form-label" for="something">Something</label>
                                <div class="col-md-12">
                                    <input type="text" id="something" class="form-control" placeholder="Something">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-form-label" for="textarea-input">Text</label>
                                <div class="col-md-12">
                                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="hidden-xs-down col-sm-4"></div>
                            <div class="form-group col-sm-4">
                                <button type="button" class="btn btn-success btn-lg btn-block btn-outline-danger">Cancel</button>
                            </div>
                            <div class="form-group col-sm-4">
                                <button type="button" class="btn btn-success btn-lg btn-block btn-outline-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>